.sidebar {
    height: 100vh;
    min-height: -webkit-fill-available; /* pour certaines versions de Safari */
    background-color: #1d1f2a;
    border-right: 1px solid #000000;
    position: fixed;
    width: 100%;
    transition: width 0.3s ease;
    z-index: 1000;
}


/* Largeur rétractée */
.collapsed {
    width: 60px;
}

/* Largeur étendue */
.expanded {
    width: 250px;
}

/* Bouton pour déployer/rétracter */
/* Bouton pour déployer/rétracter */
.toggleButton {
    position: absolute;
    top: 50%;
    right: -40px;             /* Ajuste pour prendre en compte la nouvelle taille */
    transform: translateY(-50%);
    width: 50px;              /* Augmentation de la largeur */
    height: 50px;             /* Augmentation de la hauteur */
    background-color: #1d1f2a;
    color: white;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: background-color 0.3s ease;
}


/* Style des items */
.navItem {
    display: block;
    padding: 15px;
    border-top: solid 1px #495057;
    border-bottom: solid 1px #495057;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Hover et état actif */
.navItem:hover {
    background-color: #007bff;
}

.navItem.active {
    background-color: #007bff;
    color: white;
}
